# CallMeBot Configuration
# Get your API Key by following the instructions at https://www.callmebot.com/blog/free-api-whatsapp-messages/
CALLMEBOT_API_KEY=
RECIPIENT_PHONE_NUMBER=554792843977

# URL Pública da sua aplicação no Railway (usada nos botões e WhatsApp)
APP_URL=https://pointcentral-production.up.railway.app/

# Timezone
TIMEZONE=America/Sao_Paulo

# Storage path (Railway possui sistema de arquivos efêmero se não usar volume, mas para estado diário é ok)
STATE_PATH=./day-state.json
