# CallMeBot Configuration
# Get your API Key by following the instructions at https://www.callmebot.com/blog/free-api-whatsapp-messages/
CALLMEBOT_API_KEY=
RECIPIENT_PHONE_NUMBER=5547992843977

# Notification Times (Comma separated)
# 08:00 (Entry), 11:30 (Lunch Out), 12:30 (Lunch In), 17:45 (Final Out)
NOTIFICATION_TIMES=08:00,11:30,12:30,17:45

# Timezone
TIMEZONE=America/Sao_Paulo

# Storage file
STORAGE_PATH=./storage.json
